.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


.navbar {
    width: 100%;
}

.navbar a {

    display: inline-block;
    text-transform: uppercase;
    font-family: "Roboto-Black", "Courier", "sans-serif";
    font-size: 18px;
    color: #16a085;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main {
    width: 100%;
    text-align: center;
}

.main-image {
    height: 847px;
}

.main-content{
    width: 1280px;
    height: auto;
    margin: 0 auto;
    background-color: #f5f6f7;
}

.main-content-header {

    font-family: "Roboto-Black", "Courier", "sans-serif";
    font-size: 22px;
    font-weight: bold;
    color: rgba(55, 55, 55, 1);
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
 }

.main-content-paragraph {

    width: 90%;
    margin: 20px auto;
    font-family: "Roboto-Black", "Courier", "sans-serif";
    font-size: 16px;
    color: rgba(55, 55, 55, 1);
    font-weight: bold;

}

.button {

    font-family: "Roboto-Black", "Courier", "sans-serif";
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    margin: 20px;
    padding: 15px 30px;
    background-color: #16a085;
    border-radius: 5px;
    text-transform: uppercase;

}

.copyright {
    font-family: "Roboto-Black", "Courier", "sans-serif";
    font-size: 16px;
    font-weight: bold;
    color: rgba(55, 55, 55, 1);
    margin-left: 800px;
}